build_base/
build_source/
build_stage/
build_work/
build_dist/
build_strap/
build_pack/
source-temp/
pack-cache/
source-old/
logs/

!.gitkeep
.DS_Store
*.p12

build_tools/*cc-wrapper.sh
build_tools/*cxx-wrapper.sh
